/*import*/
@import "partials/_base.css";

/* Testing autoprefixer */
.autoprefixer {
    display: flex;
}
/* Testing cssnext */
.cssnext {
    background: color(red alpha(-10%));
}

$blue: #056ef0;
$column: 200px;

.menu {
    width: calc(4 * $column);
}

.menu_link {
    background: $blue;
    width: $column;
}


@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:--heading {
    font-weight: bold;
}